<section class="presentation">
    <div class="container">
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/columbiasqrmedical/webpage.png" alt="Website Screenshot"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Website</h4>
                <p>Established in 2012 in New Westminster, Columbia Square Medical clinic is a state of the art facility combining family medicine and walk in facilities.
 </p>
                <a href="http://columbiasquareclinic.com">Visit Site</a>
            </aside>
        </div>
    </div>
</section>