<section class="presentation">
    <div class="container">
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/misc/dooba.png" alt="Dooba Logo Concept"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Dooba</h4>
                <p>Dating Site Logo</p>
            </aside>
        </div>
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/misc/knz.png" alt="K Letter Logo Concept"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Letter "K"</h4>
                <p>Concept Logo</p>
            </aside>
        </div>
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/misc/moxy.png" alt="Moxy Logo Concept"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Moxy</h4>
                <p>Concept Logo</p>
            </aside>
        </div>
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/misc/vitao.png" alt="Vitao Logo Concept"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Vitao</h4>
                <p>Concept Logo</p>
            </aside>
        </div>
    
    </div>
</section>