<section class="about">
    <div class="container">
        <figure class="icon">
            <img src="img/profile.jpg" alt="ProfilePic">
        </figure>
        <h2>
            Hello There, I'm Jacob Payne - A Front-End Web Developer from Vancouver, BC <br>This is my Online Portfolio.
        </h2>
    </div>
</section>
<section class="work">
    <div class="container">
        <div class="row">
            <a href="#/work/sfp" class="workitem col-md-4 col-sm-4 col-xs-12">
                <figure><img src="img/sfp/mockup.png" alt=""></figure>
                <h4>Seed Factory Project</h4>
                <h5>Branding, Web Development + Design</h5>
            </a>
            <a href="#/work/lsl" class="workitem col-md-4 col-sm-4 col-xs-12">
                <figure><img src="img/lsl/papermockup.png" alt=""></figure>
                <h4>Lonsdale Skin & Laser</h4>
                <h5>Print Design</h5>
            </a>
            <a href="#/work/concepts" class="workitem col-md-4 col-sm-4 col-xs-12">
                <figure><img src="img/misc/logohead.png" alt=""></figure>
                <h4>Logo Concepts</h4>
                <h5>Conceptual Work</h5>
            </a>
        </div>
        <div class="row">
            <a href="#/work/columbiasqrmedical" class="workitem col-md-4 col-sm-4 col-xs-12">
                <figure><img src="img/columbiasqrmedical/thumbnail.png" alt=""></figure>
                <h4>Columbia Square Medical</h4>
                <h5>Web Development + Design</h5>
            </a>
        </div>
    </div>
</section>