<section class="presentation">
    <div class="container">
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/lsl/2sides.png" alt="Website Screenshot"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Print Ads</h4>
                <p>Established in 2010, Lonsdale Skin & Laser Clinic  offers innovative aesthetic procedures and laser treatments in the Vancouver North Shore.</p>
            </aside>
        </div>
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/lsl/2sides2.png" alt="Website Screenshot"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Branding Style</h4>
                <p>Most prominent range of print material was focused on maintaining a simple yet elegant design standard in all iterations that where produced. </p>
            </aside>
        </div>
    </div>
</section>