<section class="presentation">
    <div class="container">
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/sfp/sitepage.png" alt="Website Screenshot"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Website</h4>
                <p>The Seed Factory Project is an ongoing Open Source Software & Engineering Project initiated by Dani Eder in 2013.<br><br>S.F.P is aimed at creating the standard for an Autonomous, Decentralized, and Open Factory Framework called a Seed Factory.</p>
                <a href="http://seed-factory.info">Visit Site</a>
            </aside>
        </div>
        <div class="productwrap row">
            <figure class="col-md-8 col-sm-8 col-xs-6"><img src="img/sfp/logos.png" alt="LogoWork"></figure>
            <aside class="col-md-4 col-sm-4 col-xs-6">
                <h4>Logo and Branding</h4>
                <p>S.F.P's logo design was primarily based upon the idea of a self expanding and growing factory grid.</p>
            </aside>
        </div>
    </div>
</section>