<header class="site-header">
  <div class="container-fluid">
    <nav class="site-header-nav">
      <div class="row">
        <a class="col offset-md-1 navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
        <ul class="col offset-md-4 site-header-nav-links">
          <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/latrasis" class="nav-link">Github</a>
          </li>
        </ul>    
      </div>
    </nav>
  </div>
</header>
