/*
* Html Layout
*/
html, body {
  height: 100%;
  width: 100%;
}

.site-header, .site-front, .site-footer {
  color: #333;
  background-color: #fff;
  margin: 0;
}

.site-header {
  padding: 2rem 0 1rem;
  .site-header-nav {

    a.site-nav-brand {
      color: #333;
      font-size:1.3rem;
      &:hover {
        text-decoration: none;
        color: #777;
      }
    }

    .site-header-nav-links {
      list-style: none;
      li {
        display: inline-block;
        a {
          color: #aaa;
          padding: 0.5rem 0.5rem;
          &:hover {
            color: #333;
          }
        }
      }
    }
  }
}

.site-front {
  min-height: 80%;
  .site-post-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li { 
      display: flex;
      flex-direction: column;
    }

    li .site-post-date {
      padding: 1rem 0rem;
    }
    li a {
      font-size: 1.5rem;
    }

    li a.site-post-readmore {
      font-size: 1rem;
    }
  }
}

.site-front-home {

}
.site-front-page {

}

.site-front-post {

}

.site-footer {
  height: 10%;
  padding: 1rem;
  margin-top:2rem;
  text-align: center;
  font-size: 0.8rem;
  color: #aaa;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}