.App {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content:baseline;
  /* border-bottom: 1px solid #333; */
  margin-left: 10%;
  margin-right: 10%;
  padding-top:2em;
}

.App-header a {
  text-decoration: none;
  color: #333;
}

.App-header h3 {
  font-size: 1.4em;
}

.App-main {
  margin-left: 10%;
  margint-right: 10%;
}


section {
  margin: 0 10%;
}




